@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* 👇 CHANGE "color" TO ANY COLOR NAME FROM THE DOCS (blue, indigo, sky, emerald...) */
  
  --color-primary-50:  var(--color-lime-50);
  --color-primary-100: var(--color-lime-100);
  --color-primary-200: var(--color-lime-200);
  --color-primary-300: var(--color-lime-300);
  --color-primary-400: var(--color-lime-400);
  --color-primary-500: var(--color-lime-500);
  --color-primary-600: var(--color-lime-600);
  --color-primary-700: var(--color-lime-700);
  --color-primary-800: var(--color-lime-800);
  --color-primary-900: var(--color-lime-900);
  --color-primary-950: var(--color-lime-950);

  /* You can do the same for Secondary if you want */
  --color-secondary-50:  var(--color-slate-50);
  --color-secondary-500: var(--color-slate-500);
  --color-secondary-900: var(--color-slate-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
